{%- macro errorPanel(errors, classes="ons-u-mb-s") %}
  {%- if errors -%}
    {%- from "components/panel/_macro.njk" import onsPanel -%}
    {%- from "components/list/_macro.njk" import onsList -%}
    {%- set items = [] -%}
    {%- for item_info in errors -%}
      {{
        items.append({
                    "text": item_info.text,
                    "url": item_info.url,
                    "variants": "inPageLink"
        }) or ""
      }}
    {%- endfor -%}

    {%-
      call onsPanel({
          "title": 'There are ' ~ errors|length ~ ' problems with this page' if errors|length > 1 else 'There is a problem with this page',
          "variant": "error",
          "type": "error",
          "classes": classes
      })
    -%}
      {{
        onsList({
            "element": 'ol',
            "itemsList": items
        })
      }}
    {%- endcall -%}
  {%- endif -%}
{%- endmacro -%}
