{%- extends 'base.html' -%}
{%- from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs -%}

{%- block preMain -%}

  {{
    onsBreadcrumbs({
        "ariaLabel": 'Breadcrumbs',
        "itemsList": [
            {
                "url": '/',
                "text": 'Home'
            }
        ]
    })
  }}
{%- endblock preMain -%}

{%- block main -%}
  <h1 class="ons-u-mb-xl">Page not found</h1>
  <div class="ons-page__body">
    <p>If you entered a web address, check it is correct.</p>
    <p>If you pasted the web address, check you copied the whole address.</p>
  </div>
{%- endblock main -%}
