{%- extends 'base.html' -%}
{%- from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs -%}

{%- block preMain -%}

  {{
    onsBreadcrumbs({
        "ariaLabel": 'Breadcrumbs',
        "itemsList": [
            {
                "url": '/',
                "text": 'Home'
            }
        ]
    })
  }}
{%- endblock preMain -%}

{%- block main -%}
  <h1 class="ons-u-mb-xl">Sorry, there is a problem with the service</h1>
  <div class="ons-page__body">
    <p>Please try again later, we are working to fix the problem.</p>
  </div>
{%- endblock main -%}
