{%- extends 'base.html' -%}

{%- from "components/input/_macro.njk" import onsInput -%}
{%- from "components/button/_macro.njk" import onsButton -%}
{%- from "components/table/_macro.njk" import onsTable -%}
{%- from "partials/error_panel.html" import errorPanel -%}

{%- block main -%}

    {{ errorPanel(create_error_panel_data(form.errors)) }}
  <h1 class="ons-u-mb-xl">Collection instruments</h1>

    <form method="post">
        {{ form.csrf_token }}
      {{
          onsInput({
              "name": "validation_version",
              "label": {
                  "text": "Validator version",
                  "description": "Enter a specific version to migrate to"
              },
              "width": 6,
              "error": get_field_error(form.validation_version.id, form.errors),
          })
      }}
      {{
          onsButton({
            "type": 'submit',
            "text": 'Start migration',
            "variants": 'small',
            "classes": "ons-u-mt-m ons-u-mb-m"
          })
      }}
    </form>

    {{
      onsTable({
          "variants": 'sortable',
          "sortBy": "Sort by",
          "ariaAsc": "ascending",
          "ariaDesc": "descending",
          "ths": [
              {
                  "value": "Survey ID"
              },
              {
                  "value": "Form type"
              },
              {
                  "value": "CIR ID"
              },
              {
                  "value": "CIR version"
              },
              {
                  "value": "Validator version"
              },
              {
                  "value": "Status"
              }
          ],
          "trs": [
              {
                  "tds": [
                      {
                          "value": "023"
                      },
                      {
                          "value": "0001"
                      },
                      {
                          "value": "a8e6ea88-4206-4eb2-b7ba-3995892bb3da"
                      },
                      {
                          "value": "2"
                      },
                      {
                          "value": "8.0.0"
                      },
                      {
                          "value": "<span class='ons-status ons-status--dead'>Not started</span>",
                          "dataSort": "0"
                      }
                  ]
              },
              {
                  "tds": [
                      {
                          "value": "023"
                      },
                      {
                          "value": "0001"
                      },
                      {
                          "value": "31c4ef3c-6546-409e-b872-31c7658f1bb9"
                      },
                      {
                          "value": "1"
                      },
                      {
                          "value": "8.0.0"
                      },
                      {
                          "value": "<span class='ons-status ons-status--dead'>Not started</span>",
                          "dataSort": "1"
                      }
                  ]
              },
              {
                  "tds": [
                      {
                          "value": "023"
                      },
                      {
                          "value": "0002"
                      },
                      {
                          "value": "6f6f0a18-94ab-427b-bb4a-6a0c51a4c3f1"
                      },
                      {
                          "value": "1"
                      },
                      {
                          "value": "8.0.0"
                      },
                      {
                          "value": "<span class='ons-status ons-status--dead'>Not started</span>",
                          "dataSort": "2"
                      }
                  ]
              },
              {
                  "tds": [
                      {
                          "value": "654"
                      },
                      {
                          "value": "0001"
                      },
                      {
                          "value": "7479a196-b09b-4c91-b0d9-a51fc283ca30"
                      },
                      {
                          "value": "1"
                      },
                      {
                          "value": "8.0.0"
                      },
                      {
                          "value": "<span class='ons-status ons-status--dead'>Not started</span>",
                          "dataSort": "3"
                      }
                  ]
              },
              {
                  "tds": [
                      {
                          "value": "765"
                      },
                      {
                          "value": "0001"
                      },
                      {
                          "value": "5548e189-8185-42d4-b135-6baba503e067"
                      },
                      {
                          "value": "1"
                      },
                      {
                          "value": "8.0.0"
                      },
                      {
                          "value": "<span class='ons-status ons-status--dead'>Not started</span>",
                          "dataSort": "0"
                      }
                  ]
              }
          ]
      })
    }}

  </div>
{%- endblock main -%}
